*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.morph-section {
	padding: $spacing-unit/2 $spacing-unit/3;
	max-width: 800px;
	margin: 0 auto;
	clear: both;

}

/* Morph Button: Default Styles */

.morph-button {
	position: relative;
	display: block;
	
}

.morph-button > button {
	position: relative;
	padding: 0 1em;
	border: none;
	background-color: $accent-color;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 75%;
	font-weight: 700;
	line-height: 40px;
	overflow: hidden;
}

.morph-button.open > button {
	pointer-events: none;
}

.morph-content {
	pointer-events: none;
}

.morph-button.open .morph-content {
	pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
	width: 150px;
	height: 40px;
}

.morph-button-fixed > button {
	z-index: 1000;
	width: 100%;
	height: 100%;
	@include transition(opacity 0.1s 0.5s);
}

.morph-button-fixed.open > button {
	opacity: 0;
	@include transition(opacity 0.1s);
}

.morph-button-fixed .morph-content {
	position: fixed;
	z-index: 900;
	opacity: 0;
	@include transition(opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s);
}

.morph-button-fixed.open .morph-content {
	opacity: 1;
}

.morph-button-fixed .morph-content > div {
	visibility: hidden;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
	transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixed.open .morph-content > div {
	visibility: visible;
	height: auto;
	opacity: 1;
	transition: opacity 0.3s 0.5s;
}

.morph-button-fixed.active > button {
	z-index: 2000;
}

.morph-button-fixed.active .morph-content {
	z-index: 1900;
}

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;	
}

/* Morph Button Style: Overlay */
.morph-button.morph-button-overlay {
	margin: 30px auto;
}

.morph-button-overlay .morph-content {
	overflow: hidden;
	background: white;
}

.morph-button-overlay.open .morph-content {
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
}



/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content,
 {
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Helper classes */
.noscroll {
	overflow: hidden;
}

.morph-button-overlay.scroll .morph-content {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
	display: none;
}

.no-js .morph-button {
	margin: 10px 0;
	float: none;
}

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
	position: relative;
	width: auto;
	height: auto;
	opacity: 1;
	visibility: visible;
	top: auto;
	left: auto;
	-webkit-transform: none;
	transform: none;
	pointer-events: auto;
}

.no-js .morph-button .morph-content .icon-close {
	display: none;
}



.no-transition {
	transition: none !important;
}

/* Media Queries */



@media screen and (max-width: 400px) {
	.morph-button-fixed,
	.morph-button-fixed .morph-content {
		//width: 200px;
		//height: 80px;
	}

	.morph-button-fixed > button {
		font-size: 75%;
	}

}


.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-close::before {
	content: "x";
}


.icon-close {
	position: absolute;
	top: 20px;
	right: 25px;
}

.icon-close:hover {
	color: $accent-color;
}

/* Style for overlay */

.content-style-overlay {
	padding: 100px 50px;
	text-align: center;
}

.content-style-overlay h2 {
	margin: 0 0 1em 0;
	padding: 0;
	font-weight: 300;
	font-size: 3em;
}

.content-style-overlay p {
	margin: 0 auto;
	max-width: 700px;
	font-weight: 300;
	font-size: 1.5em;
}

.content-style-overlay .icon-close {
	border: 2px solid lighten($grey-color, 30%);
	border-radius: 50%;
	line-height: 2.8;
}

.content-style-overlay .icon-close:hover {
	border-color: $accent-color;	
}



@media screen and (max-width: 770px) {
	.content-style-overlay {
		font-size: 75%;
		padding: 100px 20px;
		
	}
	
	.content-style-overlay p {
			padding: 0;
		}

	.content-style-overlay .icon-close {
		top: 15px;
		right: 15px;
	}
}

