
<section class="about-section">
  <div id="about" data-wow-duration="2s" data-wow-delay="0.5s" class="container wow fadeInUp">
    <h3 class="section-heading">About Me</h3>
    <p>My name is Zachary Meredith and I love things that engage. Something that engages isn't just functional. It's captivating and a pleasure to experience.</br></br>I love creating things that are not only logical, but get the job done in a creative way.</p><a href="/about" class="about-button button">Learn More</a>
    <section class="morph-section">		
      <div class="morph-button morph-button-overlay morph-button-fixed">
        <button type="button" class="button">More Info</button>
        <div class="morph-content">
          <div>
            <div class="content-style-overlay"><span class="icon icon-close">Close the overlay</span>
              <h2>About Me</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>