
<section class="about-section">
  <div id="about" data-wow-duration="2s" data-wow-delay="0.5s" class="container wow fadeInUp">
    <section class="morph-section">
      <h3 class="section-heading">About Me</h3>
      <p class="about-intro">My name is Zack Meredith, a lifelong <a href="http://tarenottear.bandcamp.com" alt="Band Website">musician</a> turned Web Designer/Dev. I believe that well designed works are engaging & a pleasure to experience.</br></br></p>
      <p class="about-tagline">I'd love to build that for you.		</p>
      <!--a(href="/about" class="about-button button") Learn More
      -->
      <div class="morph-button morph-button-overlay morph-button-fixed">
        <button type="button" class="button">More Info</button>
        <div class="morph-content">
          <div>
            <div class="content-style-overlay"><span class="icon icon-close">Close the overlay</span>
              <h2>About Me</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><img src="assets/img/self-dark.jpg" alt="Self Guitar"/>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>