section.about-section#about
	.container.wow.fadeInUp(data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="50")
		section.morph-section
			h3.section-heading About Me
			hr.heading-rule
			p.about-intro My name is Zack Meredith, a lifelong <a href="http://tarenottear.bandcamp.com" alt="Band Website" target="_blank">musician</a> turned Web Designer/Dev. I believe that well designed works are engaging & a pleasure to experience.</br></br>
			p.about-tagline I'd love to build that for you.
				
			.morph-button.morph-button-overlay.morph-button-fixed
				button(type="button" class="button") More Info
				.morph-content
					div
						.content-style-overlay
							span.icon.icon-close Close the overlay
							h2 About Me
							
							p My path to becoming a Designer/Developer began in a high school Computer Science course. It was there that I discovered the amazing things one could create with a few keystrokes & a little know-how. While my first project (a reimagination of the classic Pong) was far from what I would consider even passible design & coding work, it sparked my interest in what I love to do now. Creating engaging & attractive things with computers.</br>
							img(src="assets/img/self-dark.jpg" alt="Self Guitar")