section.about-section
	#about.container.wow.fadeInUp(data-wow-duration="2s" data-wow-delay="0.5s")
		h3.section-heading About Me
		p My name is Zachary Meredith and I love things that engage. Something that engages isn't just functional. It's captivating and a pleasure to experience.</br></br>I love creating things that are not only logical, but get the job done in a creative way.
		
		a(href="/about" class="about-button button") Learn More
	
		section.morph-section		
				.morph-button.morph-button-overlay.morph-button-fixed
					button(type="button" class="button") More Info
					.morph-content
						div
							.content-style-overlay
								span.icon.icon-close Close the overlay
								h2 About Me
								