section.about-section
	#about.container.wow.fadeInUp(data-wow-duration="2s" data-wow-delay="0.5s")
		section.morph-section
			h3.section-heading About Me
			p.about-intro My name is Zack Meredith, a lifelong <a href="http://tarenottear.bandcamp.com" alt="Band Website">musician</a> turned Web Designer/Dev. I believe that well designed works are engaging & a pleasure to experience.</br></br>
			p.about-tagline I'd love to build that for you.		
			//a(href="/about" class="about-button button") Learn More
				
			.morph-button.morph-button-overlay.morph-button-fixed
				button(type="button" class="button") More Info
				.morph-content
					div
						.content-style-overlay
							a(href="#about"): span.icon.icon-close Close the overlay
							h2 About Me
							
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							img(src="assets/img/self-dark.jpg" alt="Self Guitar")