#about
.about-container.wow.fadeInUp(data-wow-duration="2s" data-wow-delay="0.5s")
	.wrapper
		h3.section-heading About Me
		p My name is Zachary Meredith and I love things that engage. To me, something that engages isn't just functional. It is captivating and a pleasure to experience.</br></br>I love making things that are not only logical, but get the job done in a creative way. 
		
		a(href="/about" class="button") Learn More