
<div id="about"></div>
<div data-wow-duration="2s" data-wow-delay="1.5s" class="about-container wow fadeInUp">
  <div class="wrapper">
    <h3 class="section-heading">About Me</h3>
    <p>My name is Zachary Meredith and I love things that engage. To me, something that engages isn't just functional. It is captivating and a pleasure to experience.</br></br>I love making things that are not only logical, but get the job done in a creative way. </p><a href="/about" class="button">Learn More</a>
  </div>
</div>