<header class="site-header">
	<div class="top-bar fade-in long-fade">
		<a class="site-title" href="{{ site.baseurl }}/"><div class="logo"><span class="logo-text">ZM</span></div></a>
		<nav class="site-nav">
		<a class="page-link" href="#about"><h4>About</h4></a>
		<a class="page-link" href="#work"><h4>Projects</h4></a>
		<a class="page-link" href="#contact"><h4>Contact</h4></a>
		 </nav>
	</div>
	<div class="words-container">
		<h2 class="fade-in short-fade">Hey.</h2>
		<span class="tagline fade-in long-fade">My name is Zack & I strive to create engaging, thoughtful things with computers.</span>
		<ul class="icon-nav fade-in long-fade">
		<li><a class="icon icon-github" href="https://github.com/zackmeredith/" target="_blank"></a></li>
		<li><a class="icon icon-twitter" href="https://twitter.com/zackmeredith/" target="_blank"></a></li>
		<li><a class="icon icon-instagram" href="https://instagram.com/zackmeredith/" target="_blank"></a></li>
    <li><a class="icon icon-codepen" href="https://codepen.io/zackmeredith/" target="_blank"></a></li>
  		</ul>
  	<a class="icon icon-angle-down header-guide-down arrow-fade-bounce" href="#about"></a>
	</div>
</header>
