.wrapper
	.top-bar-thin
		.logo
			a(class="site-title", href="{{ site.baseurl }}/")
				span.logo-text ZM
	
		nav.site-nav		 
			a.page-link(href=""): h4 About
			a.page-link(href=""): h4 Projects
			a.page-link(href=""): h4 Contact
			a.page-link(href=""): h4 Words