.top-bar-thin
	nav.site-nav		 
		a.page-link(href="{{ site.baseurl }}/#about"): h4 About
		a.page-link(href="{{ site.baseurl }}/#work"): h4 Work
		a.page-link(href="{{ site.baseurl }}/#contact"): h4 Contact
		//a.page-link(href=""): h4 Words