/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #efefef;
$text-color: #333;
$dark-grey: #333;
$light-grey: #ACACAC;
$lighter-grey: #EFEFEF;
$md-grey: #5F5F5F;
$brand-color: #578EFC;
$soft-grey: #798693;
$brand-color: #AACFD0;

$maroon:            #AD2427;
$maroon2:           lighten($maroon, 7%);

/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-base: 'proxima-nova', -apple-system,
     ".SFNSUI-Regular", HelveticaNeue, sans-serif;
$font-base-size: 16px;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.heading {
  font-weight: 300;
}

.heading--name {
  font-weight: 600;
}


.color-darkGrey {
  color: $dark-grey;
}

.color-lightGrey {
  color: $light-grey;
}

.color-mdGrey {
  color: $md-grey;
}

.color-softGrey {
  color: $soft-grey;
}

.color-brandColor {
  color: $brand-color;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.075em;
}


.f-w-md {
  font-weight: 400;
}


.mt0 {
  margin-top: 0;
}

.mt2 {
  margin-top: 1rem;
}

.mt3 {
  margin-top: 1.5rem;
}

.mb0 {
  margin-bottom: 0;
}
.mb1 {
  margin-bottom: 0.5rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.mb3 {
  margin-bottom: 1.5rem;
}
