.about-section
	width: 100%	
	p
		line-height: 2
	.about-button
		margin-left: $spacing-unit
		+media-query($on-palm)
			margin-left: $spacing-unit/4
	.section-heading
		text-align: left
		padding-left: $spacing-unit

@import '../1-tools/morphbutton'