/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    
}


.contact-list, .fa {
	margin-right: 2%;
    
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 4;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(15% - (#{$spacing-unit} / 2));
    width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}


.post-list {
    margin-left: 0;
    list-style: none;
    @include display(flex);
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    > li {
        margin-bottom: $spacing-unit;
        @include flex(1 1 100%);
        max-width: 100%;
        
     
/*
        @include display(flex);
		@include justify-content(space-between);
*/
    }
    >:hover {
	    
	    .post-img {
		    opacity: 0.8;
	    }
	    .overlay {
		   top: 0; 
		
	    }
    }
}

.post-container {
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 1px solid $grey-color-light;
	
}

/*
.overlay {
	position: absolute;
	display: block;
	left: auto; top: -70px; right: auto; bottom: auto;
	@include transition();
	background-color: #DC143C;
	padding: 20px;
	width: 100%;
	text-align: center;
}
*/

.post-link {
	color: $grey-color;
	font-weight: 300;
	
	
}





.page-heading {
    font-size: 20px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}




/**
 * Posts
 */
 
.post-header {
    margin: $spacing-unit/2;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    //line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
